body,
html {
  width: 100%;
  height: 100%;
}
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
h1 {
  margin: 0;
  font-size: 5em;
  color: #74AFAD;
}
p {
  font-size: 18px;
}
p.lead {
  font-size: 22px;
}
@media (max-width: 767px) {
  h1 {
    font-size: 3em;
  }
}
blockquote {
  color: #03a678;
  border-left: none;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote footer {
  font-size: 16px;
  padding-left: 0.5em;
}
blockquote:before {
  color: #03a678;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
hr {
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
}
.img-responsive {
  margin: 0 auto;
}
.intro-header {
  padding-top: 50px;
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  color: #313131;
  border-top: 6px solid #03a678;
}
.intro-header p {
  text-align: left;
}
.intro-header hr {
  width: 100%;
}
.intro-header .mini-quote {
  text-align: center;
  margin-left: 0;
}
.intro-header .mini-quote footer {
  margin-left: 0;
}
@media (min-width: 992px) {
  .intro-header hr {
    width: 400px;
  }
  .intro-header .mini-quote {
    text-align: left;
    margin-left: 20px;
  }
}
.mini-quote {
  text-align: left;
  font-size: 15px;
  font-style: italic;
  font-weight: 400;
}
.book-cover {
  background: url('../img/book-icon.png') no-repeat center top;
  height: 400px;
  color: white;
  text-align: center;
  margin-top: 30px;
}
.book-cover .book-title {
  margin-top: 15%;
  margin-bottom: 0;
}
.book-cover .book-author {
  margin: 0;
}
@media (min-width: 992px) {
  .book-cover {
    margin-top: 0;
  }
  .book-cover .book-title {
    margin-top: 25%;
    margin-bottom: 0;
  }
}
.section {
  padding: 50px 0;
  border-top: 1px solid #e7e7e7;
}
.section h2:first-child {
  margin-top: 0;
}
.section-stripe {
  background: #FDF3E7;
}
.experts {
  text-align: center;
}
.experts .thumbnails {
  margin-top: 50px;
}
@media (min-width: 992px) {
  .experts {
    text-align: left;
  }
  .experts .thumbnails {
    margin-top: 0;
  }
}
.cust-pic {
  margin-bottom: 40px;
}
.about h2:first-child {
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 767px) {
  .about h2:first-child {
    margin-top: 0;
    text-align: left;
  }
}
.section-product {
  text-align: center;
}
.section-product img:first-child {
  margin-bottom: 40px;
}
.section-product img + p {
  margin: 20px 0 40px;
}
@media (min-width: 767px) {
  .section-product {
    text-align: left;
  }
  .section-product .cta {
    text-align: right;
  }
}
.product-header {
  margin-bottom: 50px;
}
.btn span.price {
  font-style: italic;
  display: inline-block;
  margin-left: 0.25em;
}
.buttonme{
    height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%;

}
.page-footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}
p.copyright {
  margin: 15px 0 0;
}
#newsletter {
  background-color: #fff;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.4);
}
#newsletter header {
  color: #fff;
  text-align: center;
  padding: 30px 20px 30px;
  background-color: #6ACAC3;
}
#newsletter header i {
  font-size: 6em;
}
#newsletter h1 {
  font-size: 2em;
  margin: 10px 0 0;
}
#newsletter form {
  padding: 14px 0;
  background-color: #F3F7F6;
}
#newsletter form input {
  font-family: 'Open Sans', sans-serif;
}
.field-container,
.controls-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.field-container {
  margin-bottom: 10px;
}
.field-container label {
  display: none;
}
.field-container input {
  display: block;
  width: 100%;
  color: #666;
  padding: 15px;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.3);
  outline: none;
}
.field-container i {
  position: absolute;
  font-size: 1.4em;
  color: #6ACAC3;
  top: 16px;
  right: 15px;
  transition: color .4s ease;
}
.field-container input:focus:invalid ~ i {
  color: #666;
}
.field-container input:focus:valid ~ i {
  color: #6ACAC3;
}
.controls-container input {
  position: relative;
  display: block;
  width: 100%;
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  padding: 12px;
  border: 0;
  border-radius: 2px;
  background-color: #6ACAC3;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.3);
  transition: opacity .4s ease;
  cursor: pointer;
}
.controls-container input:hover,
.controls-container input:focus {
  opacity: .8;
}
.controls-container input:active {
  box-shadow: none;
  top: 1px;
}
